header, main, footer, section{
    text-align: center;
}
html,body{
    margin: 0;
}
header button{
    margin-top: 16px;
    padding:8px 16px;
    border-radius: 4px;
    border: 1px rgba(219, 125, 125, 0.322) solid;
    background-image:linear-gradient(to top left,#ff8a00, #f11116);
    color: #ffffffee;
    font-weight: bold;

}
body{
    font-family: 'Roboto','sans-serif';
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}
footer{
    margin-top: auto;
    padding: 16px;
    border: 1px solid #eee;
}
.logo{
    width: 120px;
    margin: 70px 0;
}
header p {
    font-size: 14px;
}
.donors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.donor p {
    margin-top: 24px;
    margin-bottom: 64px;
    font-size: 14px;
}
main h2 span{
    color: #ff0000;
}
.blood{
    color: #ff0000;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.blood::before{
    content: "";
    background-color: #0000002d;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
    
}
.donor p{
    margin-top: 24px;
    font-size: 14;
}
h1, h2{
    color: #000000cc;
}
section.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:45px;
    align-items: center;
    border-radius: 4px;
    border: 1px rgba(255, 84, 84, 0.726)solid;
    background-image:linear-gradient(to top left,#ff8a00, #b60003);
    padding: 16px 64px;
}
form input, form button{
    width: 100%;
    margin-bottom: 4px;
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px #ffffff88 solid;
}
form input{
    background-color: transparent;
}
form input::placeholder{
    color: #ffffffaa;
}
form button{
    font-weight: bold;
}
form button:hover{
    transition: 1s;
    background-image:linear-gradient(to top left,#ff8a00, #f11116);
    color: #eee;
}
header, .form, main{
    margin:0 auto 70px;
    width: 90%;
    max-width: 500px;
}
.form h2{
    align-items: right;
    color: #ffffffee;
    font-size: 18px;
}
header h1, main h2{
    margin-bottom: 70px;
}
section.form{
    transition: all 300ms;
}
section.form.hide{
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -70px;
}
